# Binder with Postgres server

This binder is running a postgres server in the background.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://localhost/postgres

'Connected: @postgres'

In [3]:
%%sql
\dt

 * postgresql://localhost/postgres
7 rows affected.

[('public', 'actor', 'table', 'tombaldwin'),
 ('public', 'category', 'table', 'tombaldwin'),
 ('public', 'film_actor', 'table', 'tombaldwin'),
 ('public', 'film_category', 'table', 'tombaldwin'),
 ('public', 'films', 'table', 'tombaldwin'),
 ('public', 'language', 'table', 'tombaldwin'),
 ('public', 'rental', 'table', 'tombaldwin')]

In [4]:
%%sql
select * from actor limit 5;

 * postgresql://localhost/postgres
5 rows affected.

[(1, 'Penelope', 'Guiness', datetime.datetime(2006, 2, 15, 10, 5)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2006, 2, 15, 10, 5)),
 (3, 'Ed', 'Chase', datetime.datetime(2006, 2, 15, 10, 5)),
 (4, 'Jennifer', 'Davis', datetime.datetime(2006, 2, 15, 10, 5)),
 (5, 'Johnny', 'Lollobrigida', datetime.datetime(2006, 2, 15, 10, 5))]